.changeset
.editorconfig
.gitattributes
.gitignore
.package.dev.json
.vscode-test
.vscode/**
.github
.xo-config.json
.xo-config.ts.json
**/.eslintrc.json
**/*.map
**/*.ts
**/tsconfig.json
node_modules/**
out/**
pnpm-lock.yaml
renovate.json
rollup/**
scripts/**
src/**
TODO.md
vsc-extension-quickstart.md
